body{
  background-color: aliceblue;
 
}
.card{
  float: left;
}

.hi{
  position: left;
}
/* .form-check{
  position: right;
} */

.hello{
  position:relative;
  
}



.option{
  margin-left: 10px;
}

